body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
    background-image: url('bm/inicio1.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Oculta la barra de desplazamiento del carrusel pero permite el scroll */
.carousel-container::-webkit-scrollbar {
    display: none;
}
.carousel-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Clase para el efecto de zoom */
.carousel-card {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(0.9);
    opacity: 0.7;
}
 
.carousel-card.is-active {
    transform: scale(1.0);
    opacity: 1;
}

/* Estilo para que el scroll se alinee mejor */
#product-carousel {
    scroll-snap-type: x mandatory;
}
.carousel-card {
    scroll-snap-align: center;
}